/*
.top-container{
  background-color:#CDF0EA;
  border: solid 10px;
  padding: 20px;
  height: 200px;
  width: 200px;
}

.middle-container{
  background-color: red;
  border: solid 20px;
  margin-left: 260px;
  height: 200px;
  width:200px;
}

.bottom-container{
  background-color: blue;
  border: solid 10px;
  margin-left: 500px;
  height: 200px;
  width: 200px;
}*/
